<div class="card shadow-effect">
  <img src="https://images.pexels.com/photos/18363612/pexels-photo-18363612/free-photo-of-village.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 100,523</small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda blanditiis, corporis deserunt doloremque eaque earum enim error fugiat illo, incidunt, natus nulla numquam omnis perferendis quis quo repellendus velit.</p>

    <small class="bg-light text-warning text-center ml-3">LAST UPDATE - SEP 20, 2023</small>

  </div>
</div>
